
html, body {
    margin:0;
    padding:0;
}
body { background:transparent; }
body:after {
    content:"";
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:-1;
    display:block;
    background:url(http://www.pmob.co.uk/mobile/images/a1.jpg) no-repeat 50% 50%;
    background-size:cover;
}

.test{text-align:center}
.test a{
  color:#fff;
  font-size:20px;
  text-decoration:none;
}
.test a:hover{text-decoration:underline}