
.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}
.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}
.rart {
    text-align: left;
    width: 50%;
}

.lart {
    text-align: left;
    width: 50%;    
}
.v-align {
  display: inline-block;
  vertical-align: middle;
}

.l-align {
  display: inline-block;
  vertical-align: left;
}

.r-align {
  display: inline-block;
  vertical-align: right;
}

.content {
  height: 128px;
  color: white;
}
.content img { 
  padding-right: 8px; 
}

.hello { 
  text-align: left; 
}

.hello h1 {
 margin: 0; 
}

.words {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
  font-size: 1em;
}

.linel {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
}

.liner {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
}

.linel2 {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
}

.liner2 {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
}

.cycler ul li { 
  text-align: left; 
}

.cycler ul li span {
  text-align: left;
  white-space: nowrap;
}

.cycler {
  display: inline-block;
  position: relative;
  overflow: hidden;
  line-height: 2em;
  height: 2em;
}

.cycler_l ul li { 
  text-align: left; 
}

.cycler_l ul li span {
  text-align: left;
  white-space: nowrap;
}

.cycler_l {
  display: list-inline;
  position: relative;
  overflow: hidden;
  line-height: 2em;
  height: 2em;
}

.cycler_l2 ul li { 
  text-align: left; 
}

.cycler_l2 ul li span {
  text-align: left;
  white-space: nowrap;
}

.cycler_l2 {
  display: list-inline;
  position: relative;
  overflow: hidden;
  line-height: 2em;
  height: 2em;
}

.cycler_r ul li { 
  text-align: right; 
}

.cycler_r ul li span {
  text-align: right;
  white-space: nowrap;
}

.cycler_r {
  display: list-inline;
  position: relative;
  overflow: hidden;
  line-height: 2em;
  height: 2em;
}

.cycler_r2 ul li { 
  text-align: right; 
}

.cycler_r2 ul li span {
  text-align: right;
  white-space: nowrap;
}

.cycler_r2 {
  display: list-inline;
  position: relative;
  overflow: hidden;
  line-height: 2em;
  height: 2em;
}

.about {
  background-color: rgba(17,17,17,.9);
  color: #c4c4c4;
  width: 100%;
  padding: 5px 5px;
  margin-top: -2px;
  vertical-align: middle;
}

.about p {
  margin-bottom: 0;
  margin-top: 6px;
}

.about .social {
  font-size: 22px;
}

.about .social a i {
  padding-right: 4px;
  color: #c4c4c4;
}

.about .social a i:hover { color: white; }

.outPopUp {
  position: relative;
  top: 100%;
}

.aboutme-bg, .outro-bg, .intro-bg, .social-bg, .project-bg, .research-bg, .teaching-bg {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutme-bg {
  background-image: url("../img/aboutme-bg.jpg");
  min-width: 10%;
}

.outro-bg {
  background-image: url("../img/outro-bg.jpg");
  min-width: 10%;
}

.intro-bg {
  background-image: url("../img/intro-bg.jpg");
  min-width: 10%;
}

.social-bg {
  background-image: url("../img/social-bg.jpg");
  min-width: 10%;
}

.project-bg {
  background-image: url("../img/project-bg.jpg");
  min-width: 10%;
}

.research-bg {
  background-image: url("../img/research-bg.jpg");
  min-width: 10%;
}

.teaching-bg {
  background-image: url("../img/teaching-bg.jpg");
  min-width: 10%;
}

.xcaption {
  position: relative;
  left: 0;
  width: 100%;
  text-align: center;
  color:#ddd;
  background-color:#282E34;
}

.xcaption span.border {
  vertical-align: middle;
  color:#ddd;
  background-color:#282E34;
  padding: 18px;
  font-size: 15px;
  letter-spacing: 8px;
}